{% extends 'base/base.html' %}

{% block content %}
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{{contactbackground.image.url}}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Contact Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pb contact-section">
      <div class="container">
        <div class="row d-flex contact-info">
          <div class="col-md-4 d-flex">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-map-signs"></span>
          		</div>
          		<h3 class="mb-2">Address</h3>
	            <p>Trimurti chowk Bharti Vidyapeeth, Katraj, Pune, Maharashtra 411046</p>
	          </div>
          </div>
          <div class="col-md-4 d-flex">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-phone2"></span>
          		</div>
          		<h3 class="mb-2">Contact Number</h3>
	            <p><a href="tel:8799856476">8799856476</a><br>
              <a href="tel:8262811995">8262811995</a></p>
	          </div>
          </div>
          <div class="col-md-4 d-flex">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-paper-plane"></span>
          		</div>
          		<h3 class="mb-2">Email Address</h3>
	            <p><a href="mailto:instamaharashtragadkille@gmail.com">instamaharashtragadkille@gmail.com</a></p>
	          </div>
          </div>
          
        </div>
      </div>
    </section>
			
		<section id="contact_message" class="ftco-section contact-section">
      <div class="container">

        {% if messages %}
              <div class="alert alert-primary alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<div class="alert-icon">
										<i data-feather="send"></i>
									</div>
									<div class="alert-message">
                    <strong>
										{% for message in messages  %}
										{{message}}
										{% endfor %}
                  </strong> 
                </div>
              </div>
        {% endif %}

        <div class="row block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form action="/savecontact" method="POST" class="bg-light p-5 contact-form">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="mobile" placeholder="Your Mobile No" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required> 
              </div>
              <div class="form-group">
                <textarea id="" cols="30" rows="7" class="form-control" name="message" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          
          </div>

          <div class="col-md-6 d-flex">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d236.5406065507153!2d73.85081014153442!3d18.454207282586626!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7669ebd58fd74ba!2sMaharashtra%20Gadkille%20Community!5e0!3m2!1sen!2sin!4v1661874668627!5m2!1sen!2sin" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}  